/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [P402]    Script Date: 5/5/2018 1:44:06 PM ******/
CREATE DATABASE [P402]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'P402', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SERVER2018\MSSQL\DATA\P402.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'P402_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SERVER2018\MSSQL\DATA\P402_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [P402].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [P402]
GO
USE [P402]
GO
/****** Object:  Table [dbo].[Computers]    Script Date: 5/5/2018 1:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Marka] [nvarchar](50) NULL,
	[RAM] [nvarchar](50) NULL,
	[Display] [nvarchar](50) NULL,
 CONSTRAINT [PK_Computers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Computers] ON 

INSERT [dbo].[Computers] ([Id], [Marka], [RAM], [Display]) VALUES (3, N'Aus', N'8', N'13.3')
INSERT [dbo].[Computers] ([Id], [Marka], [RAM], [Display]) VALUES (4, N'Apple', N'16', N'15')
INSERT [dbo].[Computers] ([Id], [Marka], [RAM], [Display]) VALUES (5, N'Elcin', N'Menim', N'Bilyardda Zeifim')
SET IDENTITY_INSERT [dbo].[Computers] OFF
USE [master]
GO
